absl-py==1.4.0
Flask==2.3.2
langchain==0.0.188
langcodes==3.3.0
lazy_loader==0.2
numpy==1.24.2
openai==0.27.7
openapi-schema-pydantic==1.2.4
prompt-toolkit==3.0.38
streamlit==1.22.0
streamlit-ace==0.1.1
streamlit-code-editor==0.1.8
streamlit-webrtc==0.45.0
transformers==4.28.1


